html,body{
    margin: 0;
    padding: 0;
}

/*Panel*/

.panels{
    background-color: white;
    display: flex;
}

.panel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    flex: 1;
    transition: flex .8s ease-in-out;
    justify-content: center;
    align-items: center;
    color: white;
}

.panel:hover{
    flex:4
}
.panel:hover>.titreJeu{
    opacity: 100%;
}

.fifa-23{
    background-image: url("../img/fifa-23.jpg");

}

.nba-2k22{
    background-image: url("../img/nba2k22.jpg");

}

.rocket-league{
    background-image: url("../img/rocket-league.jpg");

}

.ufc-4{
    background-image: url("../img/ufc-4.jpg");
}

.jeux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../img/arriere-plan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titreJeu{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

/*Card*/


.card{
    background-color: black;
    color: white;
}
.couleur-or{
    background-color: #8d8f10;
}

h3{
    text-decoration: underline;
}

.services{
    display:flex;
    padding-top: 20px;
    justify-content: space-around;
    background-color: #cae5f5;
    
}
.services .service{
     margin-right: 30px;
     justify-content: space-between;
}
        